<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
    <script src="~/Scripts/jquery-ui.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Veslački informacijski sustav", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Regate", "Index", "Home", new { area = "" }, null)</li>




                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Kategorije
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Stvaranje kategorije", "Index", "Kategorije", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Registracija posade", "Index", "Posade", new { area = "" }, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Utrke
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Stvaranje utrke", "Index", "Utrke", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Dodavanje posade", "Posada", "Utrke", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Spremanje rezultata", "Index", "Rezultati", new { area = "" }, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Veslači
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Stvaranje veslača", "Index", "Veslaci", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Visina", "Visina", "Veslaci", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Težina", "Masa", "Veslaci", new { area = "" }, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Klubovi
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Registracija kluba", "Index", "Klubovi", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Registracija veslača", "Pripadnost", "Klubovi", new { area = "" }, null)</li>

                        </ul>
                    </li>

                    
                    


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>FER 2018.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
